div#game{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    ;
}
.row{
display: flex;
}
.box{
width: 100px;
height: 100px;
background: greenyellow;
border:solid 2px green;
cursor: pointer;
}
#winner-text{
    font-size: 20px;
    font-weight: bold;
    
}