.box{
    width: 100%;
    height: 100%;
    background: rosybrown;
    border: solid balck 1px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}